body{
	font-family: 'Oswald', sans-serif;
	background: radial-gradient(black, #00aeff);
	min-height: 100vh;
	padding-top: 18vh;
}
.icon{
	background: url('../img/assets.jpg');
	width: 120px;
	height: 100px;
	display: inline-block;
	/*border: 1px solid lime;*/
	margin: 15px 0;
}
.btn-music{
	position: absolute;
	top: 15px;
	left: 15px;
}
.btn-music.stop-music{
	left: 100px;
}
.cherry{
	background-position: 0px 0px;
}
.lemon{
	background-position: 0px -146px;
}
.orange{
	background-position: -490px -287px;
}
.plum{
	background-position: -168px 0px;
}
.bell{
	background-position: -340px 0px;
}
.bar{
	background-position: -340px -148px;
}
.seven{
	background-position: -165px -427px;
}
.lobster{
	font-family: 'Lobster', cursive;	
}
.font-large{
	font-size: 48px;
}
.modal-header{
	background: #b90b07;
	border: none;
}
.modal-content{
	overflow: hidden;
	border-radius: 10px;
}
.modal-content h4{
	color: #FFF;
}
.modal-content .close{
	font-size: 2em;
	opacity: 1;
	color: #000;
	display: none;
}
.modal-body{
	padding: 0;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	/*overflow: hidden;*/
}
@media (min-width: 768px){
	.modal-dialog {
    	width: 900px;
    	margin: 30px auto;
	}
}
@media (max-width: 768px){
	.container{
		width: 700px;
		min-height: 200vh;
	}
	.slot-machine{
		margin-left: 100px;
		margin-right: 100px;
	}
	body{
		padding-top: 45vh;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,0,255,1) 100%);
	}
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 60px;
	color: pink;
  	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.slot-machine{
	text-align: center;
	margin-top: 50px;
	position: relative;
}
.slot-machine .header{
	background: #1d1d1d;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border: 5px solid #b90b07;
}
.slot-machine .header p{
	color: #FFF;
	margin: 0;
	font-size: 45px;
	line-height: 100px;
}
.slot-machine .body,
.slot-machine .footer{
	border: 5px solid #b90b07;
	background: #1d1d1d;
	border-top: 0;
}
.reel{
	display: inline-block;
}
.slot-machine .footer{
	padding: 25px 0;
}
.slot-machine .footer h2{
	color: #FFF;
	letter-spacing: 1px;
	margin: 0;
}
.slot-machine .footer p{
	background: #FFF;
	color: #000;
	font-size: 24px;
	line-height: 40px;
}

.slot-machine .footer .btn{
	background: #b90b07;
	background: #b90b07;
	/*margin: 20px 0;*/
	outline: none;
	border: none;
	font-size: 27px;
	padding: 0;
	width: 100px;
	line-height: 36px;
	height: 40px;
}
.btn-primary:focus,.btn-primary:active{
	outline: none;
}
.btn-primary:active{
	background: #000 !important;
}
.handle{
	position: absolute;
	right: -20px;
	bottom: 115px;
}
.handle .base{
	width: 20px;
	height: 60px;
	background: #b90b07;
}
.handle .line{
	width: 125px;
	height: 7px;
	background: #b90b07;
	transform: rotate(-70deg);
	transform-origin: 0;
	position: absolute;
	top: 40px;
	left: 15px;
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;

}
.handle .top{
	cursor: pointer;
	background: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: -105px;
	left: 42px;
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
}
.handle.animate .line{
	transform: rotate(-60deg);
	width: 100px;
}
.handle.animate .top{
	top: -60px;
	/*left: 100px;*/
}
